[submodule "nscscc-team-la32r"]
	path = nscscc-team-la32r
	url = https://gitee.com/loongson-edu/nscscc-team-la32r
[submodule "lasoft/la32r-nemu"]
	path = lasoft/la32r-nemu
	url = https://gitee.com/wwt_panache/la32r-nemu
[submodule "lasoft/la32r-Linux"]
	path = lasoft/la32r-Linux
	url = https://gitee.com/loongson-edu/la32r-Linux
