# GLOBAL
.vscode/
build/
ext/

# VIVADO VERILOG
/lacpu/run_vivado/la32r/*
/lacpu/rtl/xilinx_ip/inst_ram/*
/lacpu/rtl/xilinx_ip/data_ram/*
/lacpu/rtl/xilinx_ip/div/*
/lacpu/rtl/xilinx_ip/divu/*
vivado.jou
vivado.log
!/lacpu/run_vivado/la32r/la32r.xpr
!/lacpu/rtl/xilinx_ip/inst_ram/inst_ram.xci
!/lacpu/rtl/xilinx_ip/data_ram/data_ram.xci
!/lacpu/rtl/xilinx_ip/div/div.xci
!/lacpu/rtl/xilinx_ip/divu/divu.xci
